<div class="col-md-10 col-xs-12 col-sm-11 col-md-push-1 postborder" ng-controller="googleMapView">
    <div class="bordgr">
        <p class="posttitle">{{post.title}}</p>
    </div>
    <div class="bordgr"><br>
        <em>{{post.description}}<br><br></em>
    </div><br>
    <div>
        <img class="col-md-6 col-xs-12 col-sm-8" src="{{post.url}}"/>
    </div>
    <div>
        <div class="marked" marked="post.article"></div>
    </div>
    <div class="form-group col-md-12 col-xs-12 col-sm-12">
        <div class="col-md-10 col-xs-12 col-sm-11">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id"></ui-gmap-marker>
                <ui-gmap-marker coords="marker2.coords" icon="marker2.icon" idkey="marker2.id"></ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="col-md-1 col-xs-5 col-sm-3" ng-repeat="tag in post.tags">
            <a class="btn-xs tagbutton" href="#/main/tag/{{tag.name}}">{{tag.name}}</a>
        </div>
    </div>
</div>
<div class="col-md-10 col-xs-12 col-sm-11 col-md-push-1" ng-include="'../../templates/comments.html'"></div>