<fieldset>
    <div class="form-group">
        <label for="title" class="col-md-2 control-label">Title</label>
        <div class="col-md-8">
            <input type="text" id="description" class="form-control" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-md-2 control-label">Description</label>
        <div class="col-md-8">
            <input type="text" id="title" class="form-control" placeholder="Enter your title">
        </div>
    </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Image</label>
        <div class="col-md-8" style="border: 1px dashed lightgrey">                                                 <!--на этот раз drop-directive должна быть совмещеан с местом отображения картинки-->
            <div drop-directive>
                <div ng-controller="ImageListController" style="height: 300px">
                    <div ng-repeat="image in images">
                        <image-directive></image-directive>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-6">
        <div>
            <textarea class="form-control" rows="25"></textarea>
        </div>
    </div>
    <div class="form-group col-md-6">
        <div>
            <textarea class="form-control" rows="25"></textarea>
        </div>
    </div>
</fieldset>