<div class="col-md-10 col-md-push-1 postborder">
    <div>
        <p class="posttitle">{{post.title}}</p><hr>
    </div>
    <div>
        <em>{{post.description}}</em><hr>
    </div>
    <div>
        <img class="col-md-6" src="{{post.url}}"/>
    </div>
    <div>
        <div class="marked" marked="post.article"></div>
    </div>
    <div>
        <div class="col-md-10 col-md-offset-2" ng-repeat="tag in post.tags">
            <a href="#/tag/{{tag.name}}">{{tag.name}}</a>
        </div>
    </div>
</div>
<div class="col-md-10 col-md-push-1" ng-include="'../../templates/comments.html'"></div>