<div class="col-md-10 col-md-push-1 postborder">
    <div class="bordgr">
        <p class="posttitle">{{post.title}}</p>
    </div>
    <div class="bordgr"><br>
        <em>{{post.description}}<br><br></em>
    </div><br>
    <div>
        <img class="col-md-6" src="{{post.url}}"/>
    </div>
    <div>
        <div class="marked" marked="post.article"></div>
    </div>
    <div class="col-md-12">
        <div class="col-md-1" ng-repeat="tag in post.tags">
            <a class="btn-xs btn-warning" href="#/main/tag/{{tag.name}}">{{tag.name}}</a>
        </div>
    </div>
</div>
<div class="col-md-10 col-md-push-1" ng-include="'../../templates/comments.html'"></div>