<fieldset>
    <div class="form-group">
        <label for="title" class="col-md-2 control-label">{{translation.TITLE}}</label>
        <div class="col-md-10">
            <input ng-model="title" type="text" id="title" class="form-control" placeholder="{{translation.TITLE_PLACEHOLDER}}">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-md-2 control-label">{{translation.DESCRIPTION}}</label>
        <div class="col-md-10">
            <input ng-model="description" type="text" id="description" class="form-control" placeholder="{{translation.DESCRIPTION_PLACEHOLDER}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">{{translation.IMAGE}}</label>
        <div class="col-md-10"  style="border: 1px dashed lightgrey"  ng-controller="ImageListController">
            <div drop-directive class="col-md-12">
                <div class="col-md-offset-3 col-md-6" style="min-height: 300px">
                    <image-directive></image-directive>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="textArea" class="col-md-2 control-label">{{translation.ARTICLE}}</label>
        <div class="col-md-6">
            <textarea ng-model="article" class="form-control" rows="30" id="textArea" placeholder="{{translation.ARTICLE_PLACEHOLDER}}"></textarea>
        </div>
        <div class="marked" marked="article"></div>
    </div>
    <div class="form-group">
        <label for="states" class="col-md-2 control-label">{{translation.TAGS}}</label>
        <div class="col-md-10">
            <input ng-model="tags" name="states" id="states" data-items="4" type="text" placeholder="{{translation.TAGS}}" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">
        </div>
    </div>
</fieldset>