<div class="col-md-12" ng-controller="mapCtrl">
    <label class="col-md-12 control-label">{{translation.TEMPLATES}}</label>
    <div class="col-md-3">
        <img class="col-md-12 btn btn-default" ng-click="showFirstTemplate()" src="../../source/assets/img/x-office-document.png" />
    </div>
    <div class="col-md-3">
        <img class="col-md-12 btn btn-default" ng-click="showSecondTemplate()" src="../../source/assets/img/x-office-drawing.png" />
    </div>
    <div ng-click="mapReady()" class="col-md-3">
        <img class="col-md-12 btn btn-default" ng-click="showThirdTemplate()" src="../../source/assets/img/text-html.png" />
    </div>
</div>