<div class="col-md-12">
    <label class="col-md-12 control-label">Choose template:</label>
    <div>
        <img class="col-md-12 btn btn-default" ng-click="showFirstTemplate()" src="../../source/assets/img/bZuD0QFad-8.jpg" />
    </div>
    <div>
        <img class="col-md-12 btn btn-default" ng-click="showSecondTemplate()" src="../../source/assets/img/bZuD0QFad-8.jpg" />
    </div>
    <div>
        <img class="col-md-12 btn btn-default" ng-click="showThirdTemplate()" src="../../source/assets/img/bZuD0QFad-8.jpg" />
    </div>
</div>