<div class="col-md-10 col-md-push-1 postborder" ng-controller="videoCtrl">
    <div class="bordgr">
        <p class="posttitle">{{post.title}}</p>
    </div>
    <div class="bordgr"><br>
        <p><em>{{post.description}}</em><br><br></p>
    </div><br>
    <div>
        <iframe class="col-md-6" height="440" ng-src="{{post.videoLink | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
        <div class="marked" marked="post.article"></div>
    </div>
    <div class="col-md-12">
        <div class="col-md-1" ng-repeat="tag in post.tags">
            <a class="btn-xs tagbutton" href="#/main/tag/{{tag.name}}">{{tag.name}}</a>
        </div>
    </div>
</div>
<div class="col-md-10 col-md-push-1" ng-include="'../../templates/comments.html'"></div>