<form role="form">
    <div class="col-md-12 row">
        <label for="sel1" class="control-label col-md-2">{{translation.CATEGORY}}</label>
        <select  ng-model="category" ng-change="setCategory(category)" class="form-control col-md-7" id="sel1">
            <option selected="selected" disabled>{{translation.SELECT_THEME}}</option>
            <option value="computer">{{translation.COMPUTER}}</option>
            <option value="language">{{translation.LANGUAGE}}</option>
            <option value="world">{{translation.WORLD}}</option>
            <option value="biology">{{translation.BIOLOGY}}</option>
            <option value="photo">{{translation.PHOTO}}</option>
        </select>
    </div>
</form>
