<form role="form">
    <div class="form-group col-md-12">
        <label for="sel1" class="col-md-2 control-label">{{translation.CATEGORY}}</label>
        <div class="col-md-10">
            <select class="form-control" id="sel1">
                <option>{{translation.COMPUTER}}</option>
                <option>{{translation.LANGUAGE}}</option>
                <option>{{translation.WORLD}}</option>
                <option>{{translation.BIOLOGY}}</option>
                <option>{{translation.PHOTO}}</option>
            </select>
        </div>
    </div>
</form>
