<div ng-controller="viewComments" class="comments_div">
    <h4>{{translation.COMMENTS}}:</h4>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form ng-controller="addComments" ng-submit="addReview()">
            <textarea class="form-control input-lg" ng-model="viewComment.body" rows="5" placeholder="{{translation.COMMENTS_PLACEHOLDER}}" required></textarea>
            <input class="btn-change col-md-1 col-sm-3 col-xs-5" type="submit" value="{{translation.SEND}}" />
        </form>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" ng-controller="infiniteScroll">
        <div infinite-scroll="loadMoreComments()">
            <div ng-repeat="review in reviews | limitTo: limitCom">
                <textarea disabled class="col-md-11 col-sm-12 col-xs-12 comments" rows="">{{review.body}}</textarea>
                <div class="col-md-1 col-sm-3 col-xs-5">
                    <input type="button" ng-class="myVar" ng-init="myVar='like'" ng-mouseup="myVar='like'" ng-mousedown="myVar='likedone'; like(review)">
                    <p>{{review.likes}}</p>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-12"><p><cite>{{translation.NAME}}: <a href="#/id/{{review.user.id}}">{{review.user.firstName}} {{review.user.lastName}}</a></cite></p></div>
                <div class="col-md-12 col-sm-12 col-xs-12"><hr></div>
            </div>
        </div>
    </div>
</div>