<div ng-controller="viewCommentCtrl" style="margin-top: 20px">

<h4>{{translation.COMMENTS}}:</h4>
<div class="col-md-12">
    <form ng-controller="addCommentCtrl as add" ng-submit="add.addReview()">
        <textarea class="form-control input-lg" ng-model="add.viewComment.comment" rows="5" placeholder="{{translation.COMMENTS_PLACEHOLDER}}"></textarea>
        <input class="btn-change col-md-1" type="submit" value="{{translation.SEND}}" />
    </form>
</div>
<div class="col-md-12">
    <blockquote ng-repeat="review in reviews">
        <p><strong>{{translation.RATE}}: {{review.rate}}</strong></p>
        <textarea disabled class="col-md-12 comments" rows="">{{review.comment}}</textarea>
        <p><cite>{{translation.NAME}}: {{review.author}}</cite></p>
    </blockquote>
</div>
</div>