<div class="container col-md-12">
    <div class="row container col-md-12">
        <section class="col-md-12">
            <label>Sort by: </label>
            <select class="btn sort">
                <option>Rating</option>
                <option>Date</option>
            </select>
            <article ng-repeat="post in posts" class="blog-item">
                <div class="row">
                    <div class="col-md-3">
                        <a href="single_blog_page.html">
                            <img ng-src="{{post.url}}" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <a href="../source/html5-templates.html">html5</a>
                            <time>{{post.createdAt}}</time>
                            {{post.title}} {{post.score}}
                        </p>
                        <h1>
                            <a href="../source/single_blog_page.html"> {{post.title}} </a>
                        </h1>
                    </div>
                    <div class="col-md-1">
                        <input ng-class="myCssVar" ng-init="myCssVar='classup'" ng-mouseenter="myCssVar='up'" ng-mouseleave="myCssVar='classup'" ng-click="changeRating(post, +1)">
                        <h5 class="rating">{{ post.score }}</h5>
                        <input ng-class="myCss" ng-init="myCss='classdown'" ng-mouseenter="myCss='down'" ng-mouseleave="myCss='classdown'" ng-click="changeRating(post, -1)">
                    </div>
                </div>
            </article>
            <article class="blog-item">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">
                            <img src="../source/assets/img/coming-soon.jpg" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <p>
                            in
                            <a href="../source/html5-templates.html">html5</a>
                            ,
                            <a href="#">templates</a>
                            <time>23-july-2015</time>
                        </p>
                        <h1>
                            <a href="../source/single_blog_page.html">50+ best free responsive event template in 2015</a>
                        </h1>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>
