<main>
    <div class="container col-md-9">
        <div class="row container col-md-12">
<section class="col-md-12">

    <article class="blog-item">
        <div class="row">
            <div class="col-md-3">
                <a href="single_blog_page.html">
                    <img src="../ThemeBlog-master/assets/img/photography.jpg" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                </a>
            </div>
            <div class="col-md-9">
                <p>
                    in
                    <a href="../ThemeBlog-master/html5-templates.html">html5</a>
                    ,
                    <a href="#">templates</a>
                    <time>23-july-2015</time>
                </p>
                <h1 ng-controller="MyCtr">
                    <a href="../ThemeBlog-master/single_blog_page.html">{{world}} best free responsive corporate template in 2015</a>
                </h1>
            </div>
        </div>
    </article> <!-- /.blog-item -->

    <article class="blog-item">
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img src="../ThemeBlog-master/assets/img/photography.jpg" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                </a>
            </div>
            <div class="col-md-9">
                <p>
                    in
                    <a href="../ThemeBlog-master/html5-templates.html">html5</a>
                    ,
                    <a href="#">templates</a>
                    <time>23-july-2015</time>
                </p>
                <h1>
                    <a href="../ThemeBlog-master/single_blog_page.html">50+ best free responsive event template in 2015</a>
                </h1>
            </div>
        </div>
    </article> <!-- /.blog-item -->

    <article class="blog-item">
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img src="../ThemeBlog-master/assets/img/photography.jpg" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                </a>
            </div>
            <div class="col-md-9">
                <p>
                    in
                    <a href="../ThemeBlog-master/html5-templates.html">html5</a>
                    ,
                    <a href="#">templates</a>
                    <time>23-july-2015</time>
                </p>
                <h1>
                    <a href="../ThemeBlog-master/single_blog_page.html">50+ best free responsive restaurant template in 2015</a>
                </h1>
            </div>
        </div>
    </article> <!-- /.blog-item -->

    <article class="blog-item">
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img src="../ThemeBlog-master/assets/img/photography.jpg" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                </a>
            </div>
            <div class="col-md-9">
                <p>
                    in
                    <a href="../ThemeBlog-master/html5-templates.html">html5</a>
                    ,
                    <a href="#">templates</a>
                    <time>23-july-2015</time>
                </p>
                <h1>
                    <a href="../ThemeBlog-master/single_blog_page.html">50+ best free responsive coming soon template in 2015</a>
                </h1>
            </div>
        </div>
    </article> <!-- /.blog-item -->

    <article class="blog-item">
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img src="../ThemeBlog-master/assets/img/photography.jpg" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                </a>
            </div>
            <div class="col-md-9">
                <p>
                    in
                    <a href="../ThemeBlog-master/html5-templates.html">html5</a>
                    ,
                    <a href="#">templates</a>
                    <time>23-july-2015</time>
                </p>
                <h1>
                    <a href="../ThemeBlog-master/single_blog_page.html">50+ best free responsive photography template in 2015</a>
                </h1>
            </div>
        </div>
    </article> <!-- /.blog-item -->

    <article class="blog-item">
        <div class="row">
            <div class="col-md-3">
                <a href="../ThemeBlog-master/single_blog_page.html">
                    <img src="../ThemeBlog-master/assets/img/photography.jpg" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                </a>
            </div>
            <div class="col-md-9">
                <p>
                    in
                    <a href="../ThemeBlog-master/html5-templates.html">html5</a>
                    ,
                    <a href="#">templates</a>
                    <time>23-july-2015</time>
                </p>
                <h1>
                    <a href="../ThemeBlog-master/single_blog_page.html">50+ best free responsive corporate template in 2015</a>
                </h1>
            </div>
        </div>
    </article> <!-- /.blog-item -->

    <article class="blog-item">
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img src="../ThemeBlog-master/assets/img/photography.jpg" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                </a>
            </div>
            <div class="col-md-9">
                <p>
                    in
                    <a href="../ThemeBlog-master/html5-templates.html">html5</a>
                    ,
                    <a href="#">templates</a>
                    <time>23-july-2015</time>
                </p>
                <h1>
                    <a href="../ThemeBlog-master/single_blog_page.html">50+ best free responsive event template in 2015</a>
                </h1>
            </div>
        </div>
    </article> <!-- /.blog-item -->

    <article class="blog-item">
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img src="../ThemeBlog-master/assets/img/photography.jpg" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                </a>
            </div>
            <div class="col-md-9">
                <p>
                    in
                    <a href="../ThemeBlog-master/html5-templates.html">html5</a>
                    ,
                    <a href="#">templates</a>
                    <time>23-july-2015</time>
                </p>
                <h1>
                    <a href="../ThemeBlog-master/single_blog_page.html">50+ best free responsive restaurant template in 2015</a>
                </h1>
            </div>
        </div>
    </article> <!-- /.blog-item -->

    <article class="blog-item">
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img src="../ThemeBlog-master/assets/img/coming-soon.jpg" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                </a>
            </div>
            <div class="col-md-9">
                <p>
                    in
                    <a href="../ThemeBlog-master/html5-templates.html">html5</a>
                    ,
                    <a href="#">templates</a>
                    <time>23-july-2015</time>
                </p>
                <h1>
                    <a href="../ThemeBlog-master/single_blog_page.html">50+ best free responsive coming soon template in 2015</a>
                </h1>
            </div>
        </div>
    </article> <!-- /.blog-item -->

    <article class="blog-item">
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img src="../ThemeBlog-master/assets/img/photography.jpg" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                </a>
            </div>
            <div class="col-md-9">
                <p>
                    in
                    <a href="../ThemeBlog-master/html5-templates.html">html5</a>
                    ,
                    <a href="#">templates</a>
                    <time>23-july-2015</time>
                </p>
                <h1>
                    <a href="../ThemeBlog-master/single_blog_page.html">50+ best free responsive photography template in 2015</a>
                </h1>
            </div>
        </div>
    </article> <!-- /.blog-item -->

    <div class="page-turn">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <nav>
                    <ul class="pagination pagination-sm">
                        <li class="disabled">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">Prev</span>
                            </a>
                        </li>
                        <li class="active"><a href="index.html">1</a></li>
                        <li><a href="page2.html">2</a></li>
                        <li><a href="page3.html">3</a></li>
                        <li><a href="page4.html">4</a></li>
                        <li><a href="page5.html">5</a></li>
                        <li>
                            <a href="page6.html" aria-label="Next">
                                <span aria-hidden="true">Next</span>
                            </a>
                        </li>
                    </ul> <!-- /.pagination -->
                </nav>
            </div>
        </div>
    </div> <!-- /.page-turn -->

</section>
        </div>
    </div> <!-- end of /.container -->
</main>