<div class="navbar navbar-default navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="#/main">Main<span class="sr-only">(current)</span></a></li>
            <li><a href="#/">Home</a></li>
            <li ng-include="'../templates/search.html'"></li>
            <li><a href="#/registry">Sign up</a></li>
        </ul>
    </div>
</div>
