<!--<div ng-controller="tagCtrl" ng-repeat="tag in taglist">-->
<div>
    <button class="btn-xs btn-contact"><a class="f-tag b-tag" href="#">dress</a></button>
    <button class="btn-xs btn-contact"><a class="f-tag b-tag" href="#">yesterday</a></button>
    <button class="btn-xs btn-contact"><a class="f-tag b-tag" href="#">great</a></button>
    <button class="btn-xs btn-contact"><a class="f-tag b-tag" href="#">small</a></button>
    <button class="btn-xs btn-contact"><a class="f-tag b-tag" href="#">awesome</a></button>
    <button class="btn-xs btn-contact"><a class="f-tag b-tag" href="#">stress</a></button>
    <button class="btn-xs btn-contact"><a class="f-tag b-tag" href="#">laugh</a></button>
    <button class="btn-xs btn-contact"><a class="f-tag b-tag" href="#">video</a></button>
    <button class="btn-xs btn-contact"><a class="f-tag b-tag" href="#">short</a></button>
    <button class="btn-xs btn-contact"><a class="f-tag b-tag" href="#">study</a></button>
    <button class="btn-xs btn-contact"><a class="f-tag b-tag" href="#">new</a></button>
</div>