<div class="col-md-12 col-sm-12 col-xs-12" ng-controller="userImage">
    <div flow-init="{target: '/upload'}" flow-files-submitted="$flow.upload()" flow-file-success="$file.msg = $message" flow-name="uploader.flow" flow-files-added="processFiles($files)">
        <ul class="nav" ng-if="user">
            <li>
                <div class="col-md-12 col-sm-4 col-xs-2">
                    <img class="col-md-12 col-sm-10 col-xs-8" class="preview" ng-src="{{imageStrings}}"/>
                </div>
            </li>
            <li>
                <p class="col-md-12 col-sm-12 col-xs-12 user_avatar">{{user.firstName}} {{user.lastName}}</p>
            </li>
            <li class="col-md-12 col-sm-12 col-xs-12">
                <button class="btn-change1 col-md-12 col-sm-12 col-xs-12" ng-show="showSettings" flow-btn>{{translation.SELECT_IMAGE}}<input type="file" class="input_for_avatar"></button>
            </li>
            <li>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>{{translation.RATE}}: {{user.rating}}</p>
                </div>
            </li>
            <li>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>{{translation.ACHIVEMENTS}}</p>
                </div>
                <div class="col-md-6 col-sm-4 col-xs-2" ng-repeat="medal in user.medals">
                    <img class="col-md-12 col-sm-3 col-xs-1 big" src="{{medal.link}}">
                </div>
            </li>
        </ul>
    </div>
</div>