<fieldset>
    <div class="form-group">
        <label for="inputName" class="col-lg-1 col-md-4 col-sm-5 col-xs-6 control-label">{{translation.NAME}}</label>
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
            <input type="text" class="form-control" id="inputName" placeholder="{{translation.NAME_PLACEHOLDER}}" ng-model="user.firstName">
        </div>
    </div>
    <div class="form-group">
        <label for="inputSurname" class="col-lg-1 col-md-4 col-sm-5 col-xs-6 control-label">{{translation.SURNAME}}</label>
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
            <input type="text" class="form-control" id="inputSurname" placeholder="{{translation.SURNAME_PLACEHOLDER}}" ng-model="user.lastName">
        </div>
    </div>
    <div class="form-group">
        <label for="textArea" class="col-lg-1 col-md-4 col-sm-5 col-xs-6 control-label">{{translation.ABOUT}}</label>
        <div class="col-lg-10 col-md-6 col-sm-8 col-xs-10">
            <textarea class="form-control" rows="7" id="textArea" placeholder="{{translation.ABOUT_PLACEHOLDER}}" ng-model="user.about"></textarea>
        </div>
    </div>
</fieldset>