<div class="col-md-12" ng-controller="avatarCtrl">
    <div flow-init="{target: '/upload'}" flow-files-submitted="$flow.upload()" flow-file-success="$file.msg = $message" flow-name="uploader.flow" flow-files-added="processFiles($files)">
        <ul class="nav" ng-if="user">
            <li>
                <div class="col-md-12">
                    <img class="col-md-12" class="preview" ng-src="{{imageStrings}}"/>
                </div>
            </li>
            <li>
                <p class="col-md-12 user_avatar">{{user.firstName}} {{user.lastName}}</p>
            </li>
            <li class="col-md-12">
                <button class="btn-change col-md-12" ng-show="!$flow.files.length" flow-btn>{{translation.SELECT_IMAGE}}<input type="file" class="input_for_avatar"></button>
                <button class="btn-change col-md-12 ng-hide" ng-show="$flow.files.length" flow-btn>{{translation.CHANGE_IMAGE}}<input type="file" class="input_for_avatar"></button>
                <button class="btn-change col-md-12 ng-hide" ng-show="$flow.files.length" ng-click="$flow.cancel()">{{translation.REMOVE_IMAGE}}</button>
            </li>
            <li>
                <div class="col-md-12">
                    <p>{{translation.RATE}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>