<div class="col-md-12" ng-controller="userDataCtrl">
    <div class="navbar col-md-12" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#/user"><img src="../source/assets/img/no_photo.jpg" /></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">{{user.name}}Name Surname{{user.surname}}</a>
                        </li>
                        <li>
                            <a href="#">Rate</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
