<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div ng-controller="userDataCtrl">
<div ng-include="'../templates/navbar.html'"></div>
<main>
    <div class="col-md-2" ng-include="'../templates/user_side.html'"></div>
    <button id="btn-change1" class="btn col-md-2 col-md-offset-1" ng-click="changeSettings()">{{changeButton_text}}</button>
    <div class="col-md-10" ng-show="showInfo">
        <form class="form-horizontal col-md-12">
            <fieldset>
                <div class="form-group">
                    <label for="inputName" class="col-lg-1 control-label">{{translation.NAME}}</label>
                    <div class="col-lg-4">
                        <h4 id="inputName">{{user.firstName}}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSurname" class="col-lg-1 control-label">{{translation.SURNAME}}</label>
                    <div class="col-lg-4">
                        <h4 id="inputSurname">{{user.lastName}}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-1 control-label">{{translation.EMAIL}}</label>
                    <div class="col-lg-4">
                        <h4 id="inputEmail">{{user.email}}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label for="textArea" class="col-lg-1 control-label" >{{translation.ABOUT}}</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="7" id="textArea" placeholder="userInfo.about">{{user.about}}</textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <form ng-show="showSettings" ng-include="'../templates/user_form.html'" class="form-horizontal col-md-10" method="post" action="http://local.host:3000/registry"></form>
    <div class="col-md-2">
        <button id="btn-change2" class="btn col-md-12 btn-change" ng-click="createPost()">{{createButton_text}}</button>
    </div>
    <div ng-show="templatePanel" class="col-md-9" ng-include="'../templates/articleTemplates/templatesExample.html'"></div>
    <form ng-show="firstPost" ng-include="'../templates/articleTemplates/photoText.html'" class="form-horizontal col-md-10"></form>
    <!--<form ng-show="secondPost" ng-include="'../templates/articleTemplates/videoText.html'" class="form-horizontal col-md-10"></form>-->
    <form ng-show="thirdPost" ng-include="'../templates/articleTemplates/mapText.html'" class="form-horizontal col-md-10"></form>
</main>

</div>
<script src="../app/components/version/version.js"></script>
<script src="../app/components/version/version-directive.js"></script>
<script src="../app/components/version/interpolate-filter.js"></script>
</body>
</html>